In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [3]:
df1=DataFrame(np.arange(4).reshape(2,2),columns=list('AB'),index=['Prod1','Prod2'])
df1

       A  B
Prod1  0  1
Prod2  2  3

In [4]:
df2=DataFrame(np.arange(9).reshape(3,3),columns=list('ACD'),index=['Prod1','Prod3','Prod4'])
df2

       A  C  D
Prod1  0  1  2
Prod3  3  4  5
Prod4  6  7  8

In [5]:
df1+df2

         A   B   C   D
Prod1  0.0 NaN NaN NaN
Prod2  NaN NaN NaN NaN
Prod3  NaN NaN NaN NaN
Prod4  NaN NaN NaN NaN

In [6]:
df1.add(df2,fill_value=0)

         A    B    C    D
Prod1  0.0  1.0  1.0  2.0
Prod2  2.0  3.0  NaN  NaN
Prod3  3.0  NaN  4.0  5.0
Prod4  6.0  NaN  7.0  8.0