In [1]:
import pandas as pd
order=pd.read_excel("SuperstoreSales.xls",0)
order.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [4]:
order.filter(['Sales','Discount'])

          Sales  Discount
0      261.5400      0.04
1        6.9300      0.01
2     2808.0800      0.07
3     1761.4000      0.09
4      160.2335      0.04
...         ...       ...
8385  1255.4800      0.06
8386   411.5600      0.09
8387    10.5900      0.10
8388   235.9800      0.02
8389   130.9600      0.05

[8390 rows x 2 columns]

In [13]:
order[(order['Discount']==0.04) & (order['Order Priority'].isin(['High','Low']))].head(5)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250000,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129000,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,6,32,2011-07-15,High,15,140.5600,0.04,Regular Air,-128.380000,8.46,...,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
139,140,898,2010-06-02,High,26,7668.5500,0.04,Delivery Truck,-715.778206,296.18,...,Sanjit Jacobs,Quebec,Quebec,Consumer,Furniture,Tables,Hon 94000 Series Round Tables,Jumbo Box,0.76,2010-06-02
144,145,929,2012-10-01,High,21,227.6600,0.04,Regular Air,-100.160000,10.97,...,Luke Foster,Yukon,Yukon,Corporate,Technology,Computer Peripherals,Micro Innovations 104 Keyboard,Small Box,0.64,2012-10-04