In [1]:
import pandas as pd
order=pd.read_excel("SuperstoreSales.xls",0)
order.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [7]:
order['Sales'].sort_values(ascending=False).head(2)

4189    89061.05
451     45923.76
Name: Sales, dtype: float64

In [8]:
order.sort_values('Sales',ascending=False).head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
4189,4190,29766,2009-03-21,Medium,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-03-22
451,452,3073,2009-01-07,Medium,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-01-08

In [9]:
order.sort_values(['Sales','Discount'],ascending=False).head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
4189,4190,29766,2009-03-21,Medium,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-03-22
451,452,3073,2009-01-07,Medium,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-01-08