In [1]:
import pandas as pd
from pandas import Series

In [3]:
ser1=Series([1,2,3,4,5,6],index=[['A','B','C','A','B','C'],[1,1,1,2,2,2]])

In [12]:
ser1.index.names=['iddex-0','index-1']
ser1

iddex-0  index-1
A        1          1
B        1          2
C        1          3
A        2          4
B        2          5
C        2          6
dtype: int64

In [13]:
ser1.unstack()

index-1  1  2
iddex-0
A        1  4
B        2  5
C        3  6

In [29]:
ser2=ser1.swaplevel()
ser2

index-1  iddex-0
1        A          1
         B          2
         C          3
2        A          4
         B          5
         C          6
dtype: int64

In [22]:
ser2[:,'A']

index-1
1    1
2    4
dtype: int64

In [35]:
ser2.sort_index(level=0)
ser2.sort_index(level=1)

index-1  iddex-0
1        A          1
2        A          4
1        B          2
2        B          5
1        C          3
2        C          6
dtype: int64

In [36]:
ser2.unstack()

iddex-0  A  B  C
index-1
1        1  2  3
2        4  5  6