In [10]:
import pandas as pd
from pandas import DataFrame
order=pd.read_excel("SuperstoreSales.xls",0)

In [3]:
order.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [17]:
order_subset = DataFrame(order,columns=['Order Date', 'Order Priority', 'Order Quantity','Sales', 'Discount', 'Ship Mode', 'Profit','Return'])
order_subset.head(2)

,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Return
0,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,NaN
1,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,NaN

In [18]:
order_subset.drop(['Order Date'],axis=1,inplace=True)
del order_subset['Order Priority']
order_subset.head(2)

   Order Quantity   Sales  Discount    Ship Mode  Profit  Return
0               6  261.54      0.04  Regular Air -213.25     NaN
1               2    6.93      0.01  Regular Air   -4.64     NaN